################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CommandLine/.vs/CommandLine
/CommandLine/Cat/bin
/CommandLine/Cat/obj
/CommandLine/CheckNumber/bin/Debug/netcoreapp2.0
/CommandLine/CheckNumber/obj
/Conference/.vs/Conference/v15
/Conference/Conference/bin/Debug/netcoreapp2.0
/Conference/Conference/obj
/MLCore/.vs/MLCore/v15
/MLCore/MLCore/bin/Debug/netcoreapp2.0
/MLCore/MLCore/obj
/AsyncAndAwait
/MLCore/.vs/config
/MLCore/SwaggerBySwashbuckle/bin/Debug/netcoreapp2.0
/MLCore/SwaggerBySwashbuckle/obj
/ParameterBindingTemp/.vs
/ParameterBindingTemp/packages
/ParameterBindingTemp/ParameterBindingTemp/bin
/ParameterBindingTemp/ParameterBindingTemp/obj/Debug
/DesignPatterns/.vs/DesignPatterns/v15
/DesignPatterns/Strategy/bin/Debug/netcoreapp2.0
/DesignPatterns/Strategy/obj
